/* Regular 400 */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* text appears immediately, swaps when font is ready */

/* Bold 700 */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --nav-width: 150px;
    --bg-dark: #1e1e1e;
    --bg-light: #2b2b2b;
    --fg: #D9D9D9;
    --accent: #AF2031;
    --accent-2: #84B5FF;
    font-family: 'Inter', sans-serif;
    color: var(--fg);
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    background: var(--bg-dark);

}

/* ── left-hand nav ─────────────────────────── */
nav {
    width: var(--nav-width);
    background: var(--bg-light);
    display: flex;
    flex-direction: column;
}

nav button {
    appearance: none;
    border: none;
    background: none;
    padding: 12px 16px;
    text-align: left;
    font: 14px/1.4 inherit;
    color: inherit;
    cursor: pointer;
}

nav button:hover,
nav button.active {
    background: #3c3c3c;
}

/* ── content area ──────────────────────────── */
#content {
    flex: 1;
    padding: 24px 32px;
    font-size: 14px;
    overflow: auto;
}

section {
    display: none;
}

section.active {
    display: block;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px
}

h2 {
    margin-top: 0;
    font-size: 16px
}

hr {
    /* margin-bottom: 20px; */
}

#screenList {
    padding: 0;
    margin: 0;
}

#screenList button {
    background: var(--bg-light);
    color: var(--fg);
    padding-bottom: 6px;
    margin: 0 5px 10px 5px !important;
}

#screenList button:hover {
    background: var(--fg) !important;
    color: var(--bg-dark) !important;
}

#screenList button.selected {
    background: var(--accent-2) !important;
    color: var(--bg-dark) !important;
    font-weight: 700;
    pointer-events: none;
}

/* hover only if NOT already selected */
#screenList button:hover:not(.selected) {
    background: var(--fg) !important;
    color: var(--bg-dark) !important;
}

/* #screenList button:active {
    background: var(--accent-2) !important;
    font-weight: bold;
} */

/* ── bottom bar ────────────────────────────── */
footer {
    font-family: 'Inter', sans-serif;
    position: fixed;
    bottom: 0;
    left: var(--nav-width);
    right: 0;
    background: var(--bg-light);
    padding: 8px 16px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

footer button {
    min-width: 80px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    background: var(--accent);
    color: #fff;
}